/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/Проектная практика.iml
/.idea/workspace.xml
/src/TestFiles/
/src/test.py
